<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <h3>login page</h3>
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
      <button type="submit" style="text-align: center;color:azure ;background-color:black">Login</button>
    </form>
    <a href="{% url 'abstr_reg' %}">Registration</a>
</body>
</html>